<!-- Tailwind CSS -->
<div class="sm:px-16">
    <div class="mb-4 text-center">
        <p class="flex items-center justify-center gap-2 text-xl font-semibold text-green-600 md:text-2xl">
            <img width="32" src="../icons/checkerdetail/bill-v2.png" alt="Đang tải..." />
            PHIẾU CHECKER v1.2
        </p>
        <p class="text-sm font-bold italic text-red-400 underline">@($"{shiftWork?.createdAt?.ToString("dd/MM/yyyy") ?? ""}")</p>
    </div>
    @if (StateMessage != string.Empty)
    {
        <div class="flex justify-center">@StateMessage</div>
    }
    else if (isLoaded)
    {
        <div>
            <div class="round-lg mb-6 grid grid-cols-1 gap-4 md:grid-cols-2">
                <div>
                    <p class="flex items-center text-base text-green-600 md:text-lg">
                        <img width="18" src="../icons/checkerdetail/carId.png" alt="Đang tải..." />
                        <span class="ml-1 font-medium">Số hiệu: @(shiftWork.numberCar)</span>
                    </p>
                    <p class="flex items-center text-base text-green-600 md:text-lg">
                        <img width="18" src="../icons/checkerdetail/identity-theft.png" alt="Đang tải..." />
                        <span class="ml-1 font-medium">Tên: @shiftWork.userId.ToUpper()</span>
                    </p>
                    <p class="flex items-center text-base text-green-600 md:text-lg">
                        <img width="18" src="../icons/checkerdetail/revenue-month.png" alt="Đang tải..." />
                        <span class="ml-1 font-medium">Doanh thu tháng: @shiftWork.revenueByMonth.ltvVNDCurrency()</span>
                    </p>
                    @if (shiftWork.gasmoney != null && shiftWork.gasmoney != 0)
                    {
                        <p class="flex items-center text-base text-green-600 md:text-lg">
                            <img width="18" src="../icons/checkerdetail/revenue-month.png" alt="Đang tải..." />
                            <span class="ml-1 font-medium">Xăng: @shiftWork.gasmoney.ltvVNDCurrency()</span>
                        </p>
                    }
                    <p class="flex items-center text-base text-green-600 md:text-lg">
                        <span class="ml-1 font-medium">@ranking </span>
                    </p>

                    <ViewToggleButton />
                </div>
            </div>

            @if (shiftWork.TotalContracts > 0)
            {
                <!-- Table Contracts -->
                <div class="inset-ring inset-ring-gray-950/5 hidden overflow-x-auto rounded-xl bg-green-50 p-1 shadow-xl sm:block dark:inset-ring-white/10 dark:bg-white/10">
                    <div class="not-prose overflow-auto rounded-lg bg-white outline outline-white/5">
                        <p class="mb-2 flex pl-3 pt-2 text-xl font-semibold text-blue-700">
                            <img width="28" src="../icons/checkerdetail/contract.png" />
                            HỢP ĐỒNG <span class="align-top text-xs">(SL: @shiftWork.TotalContracts)</span>
                        </p>
                        <table class="w-full table-auto border-collapse text-sm text-gray-500">
                            <thead class="bg-green-600 text-white">
                                <tr>
                                    <th class="px-2 py-1">STT</th>
                                    <th class="px-2 py-1 text-center">Hợp đồng</th>
                                    <th class="px-2 py-1 text-center">Giá hợp đồng</th>
                                    <th class="px-2 py-1 text-center">KM/Giờ quy định</th>
                                    <th class="px-2 py-1 text-center">KM/Giờ vượt</th>
                                    <th class="px-2 py-1 text-center">Truy thu</th>
                                    <th class="px-2 py-1 text-center">Khuyến mãi</th>
                                    <th class="px-2 py-1">Thực thu</th>
                                </tr>
                            </thead>
                            @foreach (var item in shiftWork.Contracts)
                            {
                                <tbody>
                                    <!-- Loop for contract rows here -->
                                    <td class="border-b border-gray-100 px-2 py-1 text-center text-gray-500">@(shiftWork.Contracts.IndexOf(item) + 1)</td>
                                    <td class="border-b border-gray-100 px-2 py-1 text-center text-gray-500">@item.ctKey</td>
                                    <td class="border-b border-gray-100 px-2 py-1 text-center text-gray-500">@item.ctAmount.ltvVNDCurrency()</td>
                                    <td class="border-b border-gray-100 px-2 py-1 text-center text-gray-500">@item.ctDefaultDistance</td>
                                    <td class="border-b border-gray-100 px-2 py-1 text-center text-gray-500">@item.ctOverDistance</td>
                                    <td class="border-b border-gray-100 px-2 py-1 text-right text-gray-500">@item.ctSurcharge.ltvVNDCurrency()</td>
                                    <td class="border-b border-gray-100 px-2 py-1 text-center text-gray-500">@item.ctPromotion.ltvVNDCurrency()</td>
                                    <td class="border-b border-gray-100 px-2 py-1 text-center text-gray-500">@item.totalPrice.ltvVNDCurrency()</td>
                                </tbody>
                            }

                        </table>
                        <div class="p-2 text-center font-semibold text-blue-700">
                            TỔNG TIỀN HỢP ĐỒNG: @shiftWork.TotalContractPrice.ltvVNDCurrency()
                        </div>
                    </div>
                </div>
                @foreach (var (item, index) in shiftWork.Contracts.Select((value, i) => (value, i)))
                {
                    <!-- Mobile cards -->
                    <div class="sm:hidden">
                        <!-- Loop over _contract.contracts -->
                        <div class="mb-4 rounded bg-white p-4 shadow-md">
                            <h3 class="text-lg font-semibold text-blue-700">HỢP ĐỒNG</h3>
                            <p><strong>HĐ</strong>: @(index + 1)</p>
                            <p><strong>Di chuyển</strong>: @item.ctKey</p>
                            <p><strong>Giá HĐ</strong>: @item.ctAmount.ltvVNDCurrency()</p>
                            <p><strong>KM/Giờ quy định</strong>: @item.ctDefaultDistance</p>
                            @if (item.ctSurcharge > 0)
                            {
                                <div>
                                    <p class="text-center font-semibold">CHÊNH LỆCH HỢP ĐỒNG</p>
                                    <p class="text-green-700">KM/Giờ vượt: @item.ctOverDistance</p>
                                    <p class="text-green-700">Truy thu: @item.ctSurcharge.ltvVNDCurrency()</p>
                                    <p class="text-green-700">Khuyến mãi (-): @item.ctPromotion.ltvVNDCurrency()</p>
                                </div>
                            }
                            <p class="mt-2 text-right text-red-600">THỰC THU: @item.totalPrice.ltvVNDCurrency()</p>
                        </div>
                    </div>
                }
            }
            <div class="mt-5"></div>
            @if (shiftWork.TotalTrips > 0)
            {
                <!-- Table Trips -->
                <div class="inset-ring inset-ring-gray-950/5 hidden overflow-x-auto rounded-xl bg-green-50 p-1 shadow-xl sm:block dark:inset-ring-white/10 dark:bg-white/10">
                    <div class="not-prose overflow-auto rounded-lg bg-white outline outline-white/5">
                        <p class="mb-2 flex pl-3 pt-2 text-xl font-semibold text-blue-700">
                            <img width="28" src="../icons/checkerdetail/log.png" />
                            CUỐC LẺ <span class="align-top text-xs">(SL: @shiftWork.TotalTrips)</span>
                        </p>
                        <table class="w-full table-auto border-collapse text-sm text-gray-500">
                            <thead class="bg-green-600 text-white">
                                <tr>
                                    <th class="px-2 py-1">STT</th>
                                    <th class="px-2 py-1">Giờ đón</th>
                                    <th class="px-2 py-1">Giờ trả</th>
                                    <th class="px-2 py-1">Số KM</th>
                                    <th class="px-2 py-1">Số tiền</th>
                                    <th class="px-2 py-1">Điểm đón</th>
                                    <th class="px-2 py-1">Điểm trả</th>
                                    <th class="px-2 py-1">Loại</th>
                                </tr>
                            </thead>
                            @foreach (var item in shiftWork.Trips)
                            {
                                <tbody>
                                <td class="border-b border-gray-100 px-2 py-1 text-center text-gray-500">@(shiftWork.Trips.IndexOf(item) + 1)</td>
                                <td class="border-b border-gray-100 px-2 py-1 pl-4 text-left text-gray-500">@item.tpTimeStart?.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                <td class="border-b border-gray-100 px-2 py-1 pl-4 text-left text-gray-500">@item.tpTimeEnd?.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                <td class="border-b border-gray-100 px-2 py-1 text-left text-gray-500">@item.tpDistance</td>
                                <td class="border-b border-gray-100 px-2 py-1 text-right text-gray-500">@item.tpPrice.ltvVNDCurrency()</td>
                                <td class="border-b border-gray-100 px-2 py-1 text-left text-gray-500">@item.tpPickUp</td>
                                <td class="border-b border-gray-100 px-2 py-1 text-left text-gray-500">@item.tpDropOut</td>
                                <td class="border-b border-gray-100 px-2 py-1 text-left text-gray-500">@item.tpType</td>
                                </tbody>
                            }

                        </table>
                        <div class="p-2 text-center font-semibold text-blue-700">
                            TỔNG TIỀN CUỐC XE KHÁCH LẺ: @shiftWork.TotalTripPrice.ltvVNDCurrency()
                        </div>
                    </div>
                </div>

                @foreach (var (item, index) in shiftWork.Trips.Select((value, i) => (value, i)))
                {
                    <!-- Hiển thị trên mobile: block, ẩn từ màn hình sm (tablet) trở lên -->
                    <div class="mt-2 block overflow-hidden rounded-xl border border-gray-200 bg-white shadow-md sm:hidden">
                        <!-- Header -->
                        <div class="flex items-center justify-between border-b border-gray-100 p-4">
                            <span class="text-primary-600 text-lg font-semibold">CUỐC LẺ</span>
                            <img width="50" src="@((item.tpType.Contains("Xanh SM") ? "../imgs/logo-gsm.png" : "../imgs/logo-namthang.png"))" />
                        </div>

                        <!-- Content -->
                        <div class="space-y-1 p-4 text-sm text-gray-700">
                            <p><b>Cuốc xe số:</b> @(index + 1)</p>
                            <p><b>Khách lên xe:</b> @item.tpTimeStart?.ToString("dd/MM/yyyy HH:mm:ss")</p>
                            <p><b>Khách xuống xe:</b> @item.tpTimeEnd?.ToString("dd/MM/yyyy HH:mm:ss")</p>
                            <p><b>Khoảng cách:</b> @item.tpDistance km</p>
                            <p><b>Điểm đi:</b> <i><u>@item.tpPickUp</u></i></p>
                            <p><b>Điểm đến:</b> <i><u>@item.tpDropOut</u></i></p>
                            <p class="text-primary-600">
                                Ghi chú: @(string.IsNullOrWhiteSpace(item.tpType) ? "Thu theo đồng hồ" : item.tpType)
                            </p>
                        </div>

                        <!-- Actions -->
                        <div class="flex items-center justify-end border-t border-gray-100 px-4 py-2">
                            <button class="text-sm font-semibold text-red-600 hover:underline">THỰC THU: @item.tpPrice.ltvVNDCurrency()</button>
                        </div>
                    </div>
                }
            }

            <!-- Footer Summary -->
            <div class="inset-ring inset-ring-gray-950/5 mt-4 overflow-x-auto rounded-xl bg-green-50 p-1 shadow-xl dark:inset-ring-white/10 dark:bg-white/10">
                <div class="not-prose overflow-auto rounded-lg bg-white outline outline-white/5">
                    <div class="flex flex-col items-center justify-between gap-4 p-2 md:flex-row">
                        <div class="h-full w-full">
                            <p class="text-lg font-bold text-gray-700">HỢP ĐỒNG: @shiftWork.TotalContractPrice.ltvVNDCurrency() <span class="align-top text-xs"> (SL: @shiftWork.TotalContracts)</span></p>
                            <p class="text-lg font-bold text-gray-700">CUỐC LẺ: @shiftWork.TotalTripPrice.ltvVNDCurrency() <span class="align-top text-xs"> (SL: @shiftWork.TotalTrips)</span></p>
                            <p class="text-xl font-bold text-blue-700">TỔNG: @totalAmount</p>
                            <ul class="list-inside list-none space-y-1 pl-2 text-gray-700">
                                <li>
                                    <div class="flex gap-2">
                                        <img width="24" height="24" src="../icons/checkerdetail/star.png" alt="Đang tải..." />
                                        <span class="text-base">Khuyến mãi Nam Thắng (-): @shiftWork.discountNT.ltvVNDCurrency()</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex gap-2">
                                        <img width="24" height="24" src="../icons/checkerdetail/star.png" alt="Đang tải..." />
                                        <span class="text-base">Khuyến mãi Xanh SM (-): @shiftWork.discountGSM.ltvVNDCurrency()</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex gap-2">
                                        <img width="24" height="24" src="../icons/checkerdetail/star.png" alt="Đang tải..." />
                                        <span class="text-base">Ví/Tip/VNPay (-): @shiftWork.walletGSM.ltvVNDCurrency()</span>
                                    </div>
                                </li>
                                @if (shiftWork.pre_postpaid != null && shiftWork.pre_postpaid != 0)
                                {
                                    <li>
                                        <div class="flex gap-2">
                                            <img width="24" height="24" src="../icons/checkerdetail/star.png" alt="Đang tải..." />
                                            <span class="text-base">Trả trước/trả sau (-): @shiftWork.pre_postpaid.ltvVNDCurrency()</span>
                                        </div>
                                    </li>
                                }
                                <li>
                                    <div class="flex gap-2">
                                        <img width="24" height="24" src="../icons/checkerdetail/star.png" alt="Đang tải..." />
                                        <span class="text-base">Giảm trừ khác (-): @shiftWork.discountOther.ltvVNDCurrency()</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex gap-2">
                                        <img width="24" height="24" src="../icons/checkerdetail/star.png" alt="Đang tải..." />
                                        <span class="text-base">Truy thu khác (+): @shiftWork.arrearsOther.ltvVNDCurrency()</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="mt-2 rounded-lg border-b border-t border-green-700 px-2 py-2 shadow-lg">
                                <div class="flex items-center gap-2 font-bold text-red-500">
                                    <img width="32" src="../icons/checkerdetail/cash.png" alt="Đang tải..." />
                                    <span class="mt-2 text-2xl">TỔNG NỘP: @shiftWork.totalPrice.ltvVNDCurrency()</span>
                                </div>
                                <div class="mt-2 flex items-center gap-2 border-t text-sm text-pink-500">
                                    <img width="18" src="../icons/checkerdetail/revenue-date.png" alt="Đang tải..." />
                                    <span class="text-xl font-bold">Doanh thu ngày: @shiftWork.revenueByDate.ltvVNDCurrency()</span>
                                </div>
                            </div>
                        </div>
                        <div class="border-green-700 sm:border-l">
                            <img class="h-72 w-72 object-contain" src="@shiftWork.qrUrl" alt="QR Code" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="fixed inset-0 z-50 flex items-center justify-center bg-white bg-opacity-60">
            <div class="flex flex-col items-center space-y-2">
                <div class="h-8 w-8 animate-spin rounded-full border-t-2 border-green-500"></div>
                <span class="text-base font-semibold text-gray-700">ĐANG TẢI...</span>
            </div>
        </div>
    }
</div>
@code {

    [Parameter]
    public string userId { get; set; } = string.Empty;
    [Parameter]
    public string date { get; set; } = string.Empty;
    [Inject]
    public ICheckerBillService billCheckService { get; set; } = default!;
    public ShiftWorkDto shiftWork { get; set; } = new();

    protected string totalAmount { get; set; } = string.Empty; // Tổng hợp đồng và cuốc lẻ

    public bool isLoaded { get; set; } = false; //Load trang
    public string isType { get; set; } = string.Empty; // Loại xe khoán hay không khoán
    public string StateMessage { get; set; } = string.Empty; // Thông báo trạng thái lỗi hoặc thông tin

    public string ranking { get; set; } = string.Empty; // Xếp hạng tài xế

    private PersistingComponentStateSubscription subscription;

    protected override async Task OnInitializedAsync()
    {
        try
        {
                shiftWork = await billCheckService.Get(userId, date);
                ranking = (shiftWork.ranking != 0) ? $"Xếp hạng: {shiftWork.ranking}" : string.Empty;

            await HandleDisplayData(shiftWork);
            StateHasChanged(); // Cập nhật lại giao diện

        }
        catch (Exception ex)
        {
            StateMessage = $"KHÔNG TÌM THẤY PHIẾU CỦA {userId}";
            StateHasChanged(); // Cập nhật lại giao diện
        }
    }

    // Xử lý dữ liệu để hiển thị
    private async Task HandleDisplayData(ShiftWorkDto _data)
    {
        totalAmount = (_data.TotalTripPrice + _data.TotalContractPrice)
                                .ltvVNDCurrency();
        isLoaded = true;
    }

}

